.home{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(223, 255, 223);
  padding: 20px 0;

}
.home-contenedor{
  width: 50%;
  height: auto;
  border: 1px solid rgb(127, 211, 127);
  box-shadow: 3px 3px 3px 2px;
  padding: 10px;
  border-radius: 10px;
  background-color: rgb(131, 214, 131);
}
form{
  display: flex;
  flex-direction: column;
  padding: 10px;
  gap: 1em;
}

button{
  width: 150px;
  font-weight: bold;
  font-size: 18px;
  padding: 5px 3px;
  border:none;
  border-radius: 5px;
  box-shadow: 3px 2px 2px ;
}
button:hover{
  background-color: green;
  color: white;
  cursor: pointer;
  box-shadow: none;
}
textarea{
  resize: none;
  border: none;
  padding: 5px;
  border: none;
  border-radius: 9px;
  font-size: 16px;
}
.imagen-contenedor{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
}
.img{
  width: 40%;
  object-fit: contain;
}
@media (max-width:800px) {
  .home{
    height: 900px;
  }
  .home-contenedor{
    width: 80%;
  }
}
@media (max-width:480px) {
  .home{
    height: 700px;
  }
  .home-contenedor{
    width: 90%;
  }
  .img{
    width: 80%;
    object-fit: contain;
  }
}