.header{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4px 40px;
  background-color:rgb(7, 163, 7);
  position: relative;
  height: 70px;
}
.header-icon{
  width: 110px;
  position: absolute;
  top: 0;
  left: 50px;
}
.header-icon img{
  width: 60%;
  /* border-radius: 50%; */
}
img:hover{
 background-color: white;
}
nav{
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
}
nav h4{
  list-style: none;
  font-family: 'Montserrat', sans-serif;
font-family: 'Patrick Hand', cursive;
font-family: 'Prata', serif;
color: rgb(255, 255, 255);
}

@media (max-width:480px) {
  .header-icon{
    top: 0;
    left: 0;
  }
}